
#tab-text {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: white;
}

#tab-text  {
  padding: 30px;
  border: solid 20px #d2f4e9;
 }

#tab-text  h2 {
  font-weight: 400;
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: solid 5px #32c896;
 }

 #tab-text  p {
   margin-bottom: 5%;
 }

img {
  float: left;
  margin-right: 2%;
  max-width: 100%;  // responsive image base on parent size
}

.box{
  background: white;
}
