header h1 {
  margin-top: 3%;
  font-family: 'Courgette', cursive;
  color: #B55109;
}
footer{
  background-color: #22B2A5;
  color: white;
  font-family: 'Vollkorn', serif;
  clear: both;
}
footer a{
  color:white;
}
footer a:hover{
  color:#FF4500;
}

span{
  color:#8CAEB7;
}
footer{
  padding: 30px;
}
nav ul {
  list-style-type: none;
  margin: 0 0 30px 0;
  padding: 0;
  text-align: center;
}
  nav ul li {
    display: inline-block;
    background-color: #32c896;
    border-bottom: solid 5px #238b68;
    padding: 5px 20px;
    margin-bottom: 4px;
    color: #fff;
    cursor: pointer;
  }
    nav ul li:hover {
      background-color: #238b68;
     }
    nav  li.active {
      background-color: #238b68;
    }

ul#tab-text {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: white;
}

  ul#tab-text li {
    padding: 30px;
    border: solid 20px #d2f4e9;
   }

    ul#tab-text li h2 {
      font-weight: 400;
      margin-bottom: 30px;
      padding-bottom: 5px;
      border-bottom: solid 5px #32c896; }
img{
  float: left;
  margin-right: 2%;
  max-width: 100%;  // responsive image base on parent size
}
